h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  background-color: #2196f3;
  color: #ffffff;
}

/* STUDIO STARTS*/

.body-studio {
  position: relative;
  width: 1600px;
  height: 2349px;
  background: #ffffff;
}

.header-studio {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.footer-studio {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}

.section-one-studio {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.section-two-studio {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.section-three-studio {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.section-four-studio {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.button-studio {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-studio span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.studio-text-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-left: 0px;
  color: #212121;
}

.studio-text-paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.studio-text-one {
  position: absolute;
  width: 270px;
  height: 101px;
  margin-top: 0px;
}

.studio-text-two {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 300px;
}

.studio-text-three {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 600px;
}

.studio-text-four {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 900px;
}

.studio-lists {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.what-weare-doing {
  position: absolute;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;
}

.what-weare-doing-text {
  position: absolute;
  width: 352px;
  height: 42px;

  margin-top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.img-one {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.img-two {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}

.img-three {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}

.our-team {
  position: absolute;
  width: 1170px;
  height: 368px;
  margin-left: 215px;
  margin-top: 186px;
}

.our-team-text {
  position: absolute;
  width: 210px;
  height: 42px;
  margin-left: 695px;
  margin-top: 94px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.product-designer {
  position: absolute;
  width: 270px;
  height: 368px;
  margin-left: 0px;
  margin-top: -14px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.frontend-developer {
  position: absolute;
  width: 270px;
  height: 368px;
  margin-left: 300px;
  margin-top: -14px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.marketing {
  position: absolute;
  width: 270px;
  height: 368px;
  margin-left: 600px;
  margin-top: -14px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ui-designer {
  position: absolute;
  width: 270px;
  height: 368px;
  margin-left: 900px;
  margin-top: -14px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* PORTFOLIO STARTS */

.body-portfolio {
  position: absolute;
  width: 1600px;
  height: 1880px;
  background: white;
}

.header-portfolio {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #ececec;
  background-color: pink;
}

.footer-portfolio {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}

.header-position {
  width: 1600px;
  height: 80px;
  margin-top: 0px;
  margin-left: 0px;
}

.button-one {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;

  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.button-two {
  position: absolute;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.button-three {
  position: absolute;
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.button-four {
  position: absolute;
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.button-five {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.filters {
  width: 572px;
  height: 54px;
  margin-top: 174px;
  margin-left: 510px;
  margin-right: 518px;
}

.project-one {
  box-sizing: border-box;
  position: absolute;

  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-two {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-three {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-four {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-five {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-six {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-seven {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-eight {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-nine {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects-titles {
  width: 322px;
  height: 36px;
  margin-top: 20px;
  margin-left: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.projects-descriptions {
  width: 322px;
  height: 30px;
  margin-top: 4px;
  margin-left: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.project-text {
  height: 70px;
  width: 322px;
  margin-top: 20px;
  margin-left: 24px;
}

.web-studio-footer {
  position: inherit;
  width: 145px;
  height: 31px;
  margin-top: 60px;
  margin-left: 215px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.web-studio-header {
  width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  background-color: #757575;
}

.contacts-footer {
  position: inherit;
  margin-top: 111px;
  margin-left: 215px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}

.footer-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.studio-logo-footer {
  color: #ffffff;
}

.studio-logo-header {
  color: #000000;
}

.menu-nav {
  width: 261px;
  height: 16px;
  margin-left: 453px;
  margin-top: 32px;

  background-color: salmon;
}

.nav-agency {
  position: inherit;

  margin-left: -40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  background-color: aqua;
  color: #212121;
}

.nav-portfolio {
  margin-left: 46px;
  margin-top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.nav-contact {
  margin-top: 0px;
  margin-left: 46px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.portfolio-list {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-mail {
  margin-top: 32px;
  margin-left: 364px;
  background-color: #212121;
}

.nav-tel {
  margin-top: 32px;
  margin-left: 50px;
  background-color: #2f303a;
}
